<header class="navbar">
  <div class="nav-container">
    <div class="logo-wrapper">
      <a href="index.html">
        <img src="assets/index/SorsX-Logo-Black.svg" alt="logo" class="logo" />
      </a>
    </div>

    <nav class="nav-links" id="mobileMenu">
      <div class="dropdown">
        <button class="dropdown-toggle">
          <p class="text-B2">Platform</p>
          <img
            src="assets/index/drop_down_icon.png"
            alt="Toggle"
            class="dropdown-icon"
          />
        </button>
        <div class="dropdown-menu mega-menu">
          <div class="mega-menu-grid">
            <!-- Left Column -->
            <div class="mega-menu-column">
              <a href="sorsx_ai.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">SorsX AI</p>
                  <p class="text-C1 mega-menu-desc">
                    Discover talent automatically
                  </p>
                </div>
              </a>
              <a href="sorsx_next.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">SorsX Next</p>
                  <p class="text-C1 mega-menu-desc">
                    Rank candidates using skills
                  </p>
                </div>
              </a>
              <a href="ai_ats_crm.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">AI ATS & CRM</p>
                  <p class="text-C1 mega-menu-desc">
                    Automated, on-demand video
                  </p>
                </div>
              </a>
            </div>

            <!-- Right Column -->
            <div class="mega-menu-column">
              <a href="sorsx_hire.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Scale Hire</p>
                  <p class="text-C1 mega-menu-desc">Track time-to-hire,</p>
                </div>
              </a>
              <a href="ai_interviewer.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">AI Interviewer</p>
                  <p class="text-C1 mega-menu-desc">
                    Auto-schedule with calendar
                  </p>
                </div>
              </a>
              <a href="demo_page_1.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Demo</p>
                  <p class="text-C1 mega-menu-desc">
                    Real-time updates for teams
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle">
          <p class="text-B2">Industries</p>
          <img
            src="assets/index/drop_down_icon.png"
            alt="Toggle"
            class="dropdown-icon"
          />
        </button>
        <div class="dropdown-menu mega-menu">
          <div class="mega-menu-grid">
            <!-- Left Column -->
            <div class="mega-menu-column">
              <a href="hospitality.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Hospitality</p>
                  <p class="text-C1 mega-menu-desc">
                    Hire service staff faster.
                  </p>
                </div>
              </a>
              <a href="construction.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Construction</p>
                  <p class="text-C1 mega-menu-desc">
                    Find skilled site workers.
                  </p>
                </div>
              </a>
              <a href="tech.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Tech</p>
                  <p class="text-C1 mega-menu-desc">Hire top tech talent.</p>
                </div>
              </a>
            </div>

            <!-- Right Column -->
            <div class="mega-menu-column">
              <a href="manufacturing.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Manufacturing</p>
                  <p class="text-C1 mega-menu-desc">
                    Scale workforce efficiently.
                  </p>
                </div>
              </a>
              <a href="professional.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Professional Services</p>
                  <p class="text-C1 mega-menu-desc">
                    Hire Trusted Professionals
                  </p>
                </div>
              </a>
              <a href="healthcare.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Healthcare</p>
                  <p class="text-C1 mega-menu-desc">
                    Recruit qualified caregivers.
                  </p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle">
          <p class="text-B2">Business Size</p>
          <img
            src="assets/index/drop_down_icon.png"
            alt="Toggle"
            class="dropdown-icon"
          />
        </button>
        <div class="dropdown-menu mega-menu">
          <div class="mega-menu-grid">
            <!-- Left Column -->
            <div class="mega-menu-column">
              <a href="small_businesses.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Small businesses</p>
                  <p class="text-C1 mega-menu-desc">Hire smarter, faster.</p>
                </div>
              </a>
              <a href="midsize_businesses.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Mid Size Businesses</p>
                  <p class="text-C1 mega-menu-desc">
                    Scale hiring efficiently.
                  </p>
                </div>
              </a>
              <a href="enterprise.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Enterprise</p>
                  <p class="text-C1 mega-menu-desc">Manage hiring at scale.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="dropdown">
        <button class="dropdown-toggle">
          <p class="text-B2">Company</p>
          <img
            src="assets/index/drop_down_icon.png"
            alt="Toggle"
            class="dropdown-icon"
          />
        </button>
        <div class="dropdown-menu mega-menu">
          <div class="mega-menu-grid">
            <!-- Left Column -->
            <div class="mega-menu-column">
              <a href="about_us.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">About Us</p>
                  <p class="text-C1 mega-menu-desc">Who we are.</p>
                </div>
              </a>
              <a href="sorsx_blog.html" class="mega-menu-item">
                <img
                  src="assets/index/mega_menu_icon.png"
                  alt="icon"
                  class="mega-menu-icon"
                />
                <div class="mega-menu-content">
                  <p class="text-B2 mega-menu-title">Newsroom</p>
                  <p class="text-C1 mega-menu-desc">Latest updates.</p>
                </div>
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="cta-btn-mobile">
        <div class="dropdown choose-language">
          <button class="dropdown-toggle">
            <img
              src="assets/index/globe_01.png"
              alt="globe"
              class="dropdown-icon"
            />
            <p class="text-B2">Choose Language</p>
          </button>
          <div class="dropdown-menu mega-menu">
            <div class="mega-menu-grid">
              <div class="mega-menu-column">
                <button class="choose-lang-button" id="lang-eng-m">
                  <img
                    src="assets/index/eng_flag.png"
                    alt="eng lang"
                    class="language-flag"
                  />
                  <p class="text-B2">ENG</p>
                </button>
                <button class="choose-lang-button" id="lang-tr-m">
                  <img
                    src="assets/index/tr_flag.png"
                    alt="tr lang"
                    class="language-flag"
                  />
                  <p class="text-B2">TR</p>
                </button>
              </div>
            </div>
          </div>
        </div>
        <a
          href="https://www.sorsx.com/blog"
          target="_blank"
          rel="noopener noreferrer"
          title="Login"
          class="login-link"
          >Log In</a
        >

        <button class="nav-button">
          <a href="https://employer.sorsx.com/login" rel="noopener noreferrer"
            >Request a demo</a
          >
        </button>
      </div>
    </nav>

    <div class="cta-btn-desktop">
      <div class="dropdown choose-language">
        <button class="dropdown-toggle">
          <img
            src="assets/index/globe_01.png"
            alt="globe"
            class="dropdown-icon"
          />
        </button>
        <div class="dropdown-menu mega-menu">
          <div class="mega-menu-grid">
            <div class="mega-menu-column">
              <button class="choose-lang-button" id="lang-eng">
                <img
                  src="assets/index/eng_flag.png"
                  alt="eng lang"
                  class="language-flag"
                />
                <p class="text-B2">ENG</p>
              </button>
              <button class="choose-lang-button" id="lang-tr">
                <img
                  src="assets/index/tr_flag.png"
                  alt="tr lang"
                  class="language-flag"
                />
                <p class="text-B2">TR</p>
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- login link  -->
      <a
        href="https://employer.sorsx.com/login"
        target="_blank"
        rel="noopener noreferrer"
        title="Login"
        class="login-link"
        >Log In</a
      >

      <button class="blue-button">
        <a href="demo_page_2.html" rel="noopener noreferrer">Request a demo</a>
      </button>
    </div>

    <button class="toggle-btn" id="menuToggleBtn">
      <img src="assets/index/menu.svg" alt="Menu" id="menuIcon" />
    </button>
  </div>
</header>
